%h1 All Movies
 
%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Vote (reviews)
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td #{movie.avg_reviews} (#{movie.reviews.count})
        %td= movie.release_date
        %td= link_to "Details", movie_path(movie)
#{link_to 'Add new movie', new_movie_path} - #{link_to 'User list', moviegoers_path}
