%h2 Details about #{@movie.title}
 
%ul#details
	%li
		Rating:
		= @movie.rating
	%li
		Released on:
		= @movie.release_date.strftime("%B %d, %Y")

%h3 Description:

%p#description= @movie.description

%h3 Reviews:
- if @movie.reviews.empty?
	%p
		No reviews for this movie...
- else 
	- @movie.reviews.each do |r|
		- u = Moviegoer.find_by_id(r.moviegoer_id)
		- if r.likes.present?
			- likes=r.likes
		- else
			- likes=0
		<b>#{r.potatoes}</b> (<i>#{u.email}</i>) #{r.comments} - #{likes} Likes (#{link_to 'I Like', i_like_review_path(:id => r.id, :movie_id => @movie.id)}) - #{if u.email==current_moviegoer.email; link_to "Delete review", movie_review_path(:id => r.id, :movie_id => @movie.id), :method => :delete; end}<br />

= link_to 'Add review', new_movie_review_path(@movie)
<br/><br/>

#{link_to 'Edit info', edit_movie_path(@movie)} - #{link_to 'Delete', movie_path(@movie), :method => :delete} - #{link_to 'Back to movie list', movies_path}