%h2 Details about #{@user.name}
 
%ul#details
  %li
    Provider:
    = @user.provider
  %li
    UID:
    = @user.uid

%h3 Movies reviewed so far
- if @user.reviews.empty?
  %p
    No reviews for this user...
- else
  %ul#details
    - @user.movies.each do |movie|
      %li #{movie.title}

<br /><br />
#{link_to 'Edit info', edit_moviegoer_path(@user)} - #{link_to 'Delete', moviegoer_path(@user), :method => :delete} - #{link_to 'Back to user list', moviegoers_path}