%h2 Add a comment

= form_tag movie_reviews_path, :method => :post do

  = label :review, :potatoes, 'Votes'
  = select :review, :potatoes, [1,2,3,4,5]

  = label :review, :comments, 'Comment'
  = text_field :review, :comments

  <br/><br/>
  = submit_tag 'Add review'